<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/base.css" />
  <title>Amezon</title>
</head>
<body>
<% const itemLoop = items %>
  <% itemLoop.forEach((books) => { %>
  <p>書籍名：<%= books.title %></p>
  <p>内容：<%= books.content %></p>
  <p>著者：<%= books.author %></p>
  <% }); %>
</body>
</html>