<h1>本を登録する</h1>
<form>
  <div>
      <label>書籍名</label>		
      <input type="text" name="bookname"></input>
  </div>
  <div>
      <label>コメント</label>
      <textarea></textarea>
  </div>
  <input type="button" value="保存"></input>	
</form>
