<h1>Amezon</h1>
  <% if (!user) { %>
    <a href="/login">Login</a>
    <br />
    <a href="/register">Register</a>
  <% } else if (user) { %>
    <p>You are now logged In as <%= user.username %></p>
  <% const itemLoop = items %>
    <% itemLoop.forEach((books) => { %>
    <p>書籍名：<%= books.title %></p>
    <p>内容：<%= books.content %></p>
    <p>著者：<%= books.author %></p>
    <% }); %>
  <a href="/logout">Logout</a>    
  <% } %>