<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/base.css" />
  <title>Amezon</title>
</head>
<body>
  <h1>Amezon</h1>
</body>
</html>