<form action="/login" method="post">
  <div>
    <label>ユーザーID：<input type="text" name="username" /></label>
  </div>
  <div>
    <label>パスワード：<input type="password" name="password" /></label>
  </div>
  <div>
    <a href="/"></a><input type="submit" value="ログイン" /></a>
  </div>
</form>